
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.container{
    max-width: 1200px;
    margin: 0 auto  ;
}
.container_1{
    max-width: 1155px;
    margin: 0 auto  ;
}
.btn{
     margin-top: 15px;
    background-color: rgba(224, 44, 109, 1);
    color: white;
    padding: 10px 24px;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 15px;
    border-radius: 40px;
}


/* nav-bar */
.nav_bar {
    display: flex;
    justify-content: space-between; /* This is key for left/right separation */
    align-items: center;

}
.nav_links{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav_links a{
    text-decoration: none;
    color: rgba(58, 58, 58, 1);
}
.company_name{
    width: 250px;
    font-weight: 700;
    font-size: 1.5rem;
}
/* main */
.title{
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.description{
    font-weight: 600;
    font-size: 1rem;
    
}
.part-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    
}
.part-1-details{
    max-width: 582px
}
.main-camera{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: 475px 475px;
    background-position: center;
    max-width: 440px;
}
/* logos */
.logos-wrap {

  background-color: rgb(209, 204, 204);
  padding: 20px 100px;
  border-radius: 12px; /* Optional: rounded corners */
  max-width: 1100px;
  margin: 100px auto; /* Center the logos section */

 
}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap; /* Allow logos to wrap to the next line if needed*/
}
   

   








/* responsive */
@media screen and (max-width: 576px){
 .nav_bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .company_name {
    text-align: center;
  }
  .nav_link {
    display: none;
  }
  .nav_links{
    margin-left: 80px;
  }
  .part-1{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
  
}